html, body{
    height: 1400px;
    margin: auto;
    background-color: white;
    background-image: url(../bilder/workOutBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container{
    position: relative;
    height: 100%;
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}

#header{
    position: relative;
    height: 200px;  
    width: 100%;
    background-color: rgb(42, 42, 42);
    top: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

#footer{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

#headerLogo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}











/* Utseende på overskrifter */
h1{
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

/* Utseende på mindre overskrifter */
h2{ 
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

h3{
    font-family: sans-serif;
    font-size: 1em;
    color: white;
}











#velkommenWrapper{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0px;
    border-bottom: white solid 1px;
}

#textWrapper{
    position: absolute;
    width: 100%px;
    height: 150px;
    top: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* Undertekst til velkommenText */
#boligInfo{
    top: 50px;
    font-size: 1.3em;
}








/* Klasse - Boks for informasjon */


.title{
    position: absolute;
    top: 45px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.smallerTitle{
    position: absolute;
    top: 120px;
    left: 50px;
}

.pics{
    position: absolute;
    width: 200px;
    top:120px;
    left: 0;
    right: 0;
    margin: 0 auto;
}




/* Klasse for utseende på innholdstekst */
.contentText{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 250px; 
}

.contentBox{
    position: absolute;
    border-radius: 7px;
    top: 300px;
    width: 350px;
    background-color: rgba(12,12,12,0.8);
   -webkit-box-shadow: box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    height: 900px;   
}


.besok{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 350px;
}

.post{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 450px;
}



.telefon{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 550px;
}

.epost{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 650px;
}

.nettsted{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 750px;
}



























#sio{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 250px;
}

#fitnessSeven{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 400px; 
}

#evo{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 530px; 
}

#sats{
     position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 260px;
    top: 670px; 
    
}





























#ankerBox{
    position: absolute;
    left: 0;    
}

#blindernBox{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#sioBox{
    position: absolute;
    right: 0;
}





















        


#facebook{
    position: absolute;
    top: 15px;
    right: 50px;
    height: 25px;
    width: 25px;
}

#instagram{
    position: absolute;
    top: 15px;
    right: 105px;
    height: 25px;
    width: 25px;
}

#twitter{
    position: absolute;
    top: 11px;
    right: 150px;
    height: 32px;
    width: 32px;
}




























#menu {
    position: absolute;
    width: 1200px;
    height: 75px;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

p, .menuText{
    color: #FFF;
    font-family: sans-serif; 
}

#bolig{
    position: absolute;
    left: 125px;
}

#kart{
    position: absolute;
    left: 250px;
}

#transport{
    position: absolute;
    left: 375px;
}

#eventer{
    position: absolute;
    right: 125px;
}

#helse{
    position: absolute;
    right: 260px;
}
#mat{
    position: absolute;
    right: 375px;
}

a{
    text-decoration: none;
    color: white;
}
