#boligcontainer{
    position: absolute;
    background-color: black;
    bottom:80px;
    width: 100%;
    height: 600px;
    margin:auto;
    background-color: #ffcc66;
}

/*     #bkimg{
    position:absolute;
    right:10%;
    height:300px;
    width:300px;
    bottom: 0px;
    opacity: 0.2;
        } */

#info{
    position: absolute;
    height:10%;
    color: crimson;
    font-size: 18px;
    margin: auto;
    text-align: center;

}

span{
    color:crimson;
}

#nettsidelink{
    color:deepskyblue;
    text-decoration: underline;
}


.boliginfo {
    color: #ffcc66;
    font-size:18px;
    bottom: 400px;
    text-align: center;
    }

.kontaktinfo {
    position:absolute;
    text-align:left;
    color:#ffcc66;
    font-size: 16px;
    bottom: 0;
}

.boxes{
    position: absolute;
    height:85%;
    width:30%;
    background-color: black;
    bottom:45px;
}

#Ankerbox{
    left:10px;
    
}

#Ankerimg{
    position:absolute;
    left:12%;
    height:200px;
    bottom:200px;
}


#Blindernbox{
    left:35%;
}


#Blindernimg{
    position: absolute;
    left:18%;
    height:200px;
    bottom:200px;
}


#Siobox{
   right:10px;
}


#Sioimg{
    position: absolute;
    left:20%;
    height:200px;
    bottom:200px;
}






