html, body {
    height: 100%;
    margin: auto;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#boligcontainer{
    position: relative;
    width: 1170px;
    height: 100%;
    margin:auto;
    background-color: lightgrey;
}

#Ankerbox{
    position: absolute;
    left:5px;
}

#Blindernbox{
    position: absolute;
    left:34%;
}

#Siobox{
    position: absolute;
    right:5px;
}

span{
    color:#ffe066;
    text-align: center;
}

#nettsidelink{
    color:powderblue;
    text-decoration: underline;
}


.boliginfo {
    position: absolute;
    color: whitesmoke;
    font-size:20px;
    text-align: center;
    font-family: sans-serif;
    padding:15px;
 }

.kontaktinfo {
    position:absolute;
    text-align:center;
    color:whitesmoke;
    font-size: 18px;
    font-family: sans-serif;
    padding:40px;
    bottom: 70px;
    
}

.boxes{
    position: absolute;
    height:100%;
    width:32%;
    background-color: black;
    bottom:0;
}

.boligimages{
    position: absolute;
    height:200px;
    bottom:550px;
    left:10%;
}







    


