html, body{
    height: 1400px;
    margin: auto;
    background-color: white;
    background-image: url(../bilder/navig.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;

}

/* Container */
#container{
    position: relative;
    height: 100%;
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}

/* Header */
#header{
    position: relative;
    height: 200px;  
    width: 100%;
    background-color: rgb(42, 42, 42);
    top: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

/* Footer */
#footer{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

/* Headerlogo */
#headerLogo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}

#menu{
    position: absolute;
    width: 1200px;
    height: 50px;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

p, .menuText{
    color: #FFF;
    font-family: sans-serif;
}

#bolig{
    position: absolute;
    left: 125px;
}

#kart{
    position: absolute;
    left: 250px;

    width: 300px;
    height: 200px;
}

#transport{
    position: absolute;
    left: 375px;
}

#eventer{
    position: absolute;
    right: 125px;
}

#helse{
    position: absolute;
    right: 260px;
}
#mat{
    position: absolute;
    right: 375px;
}

/* Linker/bilder til sosiale medier */
#facebook{
    position: absolute;
    top: 15px;
    right: 50px;
    height: 25px;
    width: 25px;
}

#instagram{
    position: absolute;
    top: 15px;
    right: 105px;
    height: 25px;
    width: 25px;
}

#twitter{
    position: absolute;
    top: 11px;
    right: 150px;
    height: 32px;
    width: 32px;
}

/* Utseende på overskrifter */
h1{
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

/* Utseende på mindre overskrifter */
h2{ 
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

/* En div som lager en horisontal hvit linje med tekst i */
#welcomeWrapper{
    position: relative;
    width: 100%;
    height: 150px;
    top: 30px;
    border-bottom: white solid 1px;
}

/* Div til teksten i welcomeWrapper */
#welcomeInfo{
    top: 50px;
    font-size: 1.3em;
}

/* Div som lager en meny til knapper relatert til kartet */
#navigatorContainer{
    position: absolute;
    height: 400px;
    width: 250px;
    left: 0px;
    top: 300px;
    background-color: rgb(42, 42, 42);
   -webkit-box-shadow:  3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    border: solid black 0.1px;
    border-radius: 7px;
}

/* Div for kart */
#map{
    position: absolute;
    height: 850px;
    width: 850px;
    right: 0px;
    top: 300px;
    border: solid black 2px;
    border-radius: 7px;
   -webkit-box-shadow:  3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
}
/* Klasse for hvordan knappene */
.button{
    position: absolute;
    width: 250px;
    height: 80px;
    font-family: sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 50px;
    border-bottom: solid black 0.1px;
}

/* Knappene som er brukt i menyen med plassering fra top */
#buttonBolig{
    top: 800px;

}

#buttonTransport{
    top: 700px;
}

#buttonMat{
    top: 600px;
}
#buttonHelse{
    top: 500px;
}

#buttonEvent{
    top: 400px;
}

/* Klasse for hvordan knappene skal oppføre seg når man holder over dem */
.button:hover {
    background-color: rgb(21,21,21);
}

/* Klasse for hvordan linkene skal oppføre seg */
a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: underline;
}









