html, body{
    height: 1200px;
    margin: auto;
    background-color: white;
    background-image: url(../bilder/signs.png); /* LINK TIL BILDE: https://www.pexels.com/photo/broad-st-to-the-left-and-wall-st-to-the-right-signboard-200749/ */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

/* Container */
#container{
    position: relative;
    height: 100%;
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}



/* Footer */
/*#footer{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}*/

/* Headerlogo */
/*#headerLogo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}*/




/* En div som lager en horisontal hvit linje med tekst i */
#welcomeWrapper{
    position: relative;
    width: 100%;
    height: 150px;
    top: 30px;
    border-bottom: white solid 1px;
}

/* Div til teksten i welcomeWrapper */
#welcomeInfo{
    top: 50px;
    font-size: 1.3em;
}



p, .menuText{
    color: #FFF;
    font-family: sans-serif;
}

/* Utseende på overskrifter */
h1{
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

/* Utseende på mindre overskrifter */
h2{ 
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}


/* TRENGS DENNE ?????*/
/* Div som lager en meny til knapper relatert til kartet */
/*
#navigatorContainer{
    position: absolute;
    height: 400px;
    width: 250px;
    left: 500px;
    top: 300px;
    background-color: rgb(42, 42, 42);
   -webkit-box-shadow:  3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    border: solid black 0.1px;
    border-radius: 7px;
}
*/

/* Div for kart */
#map{
    position: absolute;
    height: 750px;
    width: 750px;
    left: 0;

    top: 200px;
    border: solid white 1px;
   -webkit-box-shadow:  3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
}


/* Klasse for hvordan knappene */




#buttonBox{
    position: absolute;
    right: 200px;
    top: 200px;
    width: 200px;
}


button{
    width: 100px;
    height: 50px;
    background-color: #eaeaea;
    border: 0;
    color: black;
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 1px;
    text-align: center; 
    -webkit-box-shadow:  3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    margin-bottom: 5px;
}

/* Knappene som er brukt i menyen med plassering fra top */

/*
#buttonBolig{
    top: 500px;
}

#buttonTransport{
    top: 450px;
}

#buttonMat{
    top: 400px;
}
#buttonHelse{
    top: 350px;
}

#buttonEvent{
    top: 300px;
}
*/

/* Klasse for hvordan knappene skal oppføre seg når man holder over dem */
button:hover {
    background-color: white;

}

/* Klasse for hvordan linkene skal oppføre seg */
a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: underline;
}









