html, body{
    height: 100%;
    margin: auto;
    background-image: url(/bilder/backgroundpic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container{
    position: relative;
    width: 1170px;
    height: 100%;
    margin: auto;
}

#background{
    position: absolute;
    width: 850px;
    bottom: 0px;
}
#header{
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    top: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;

}

#footer{
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}
#ruter{
    position: absolute;
    height: 54%;
    width: 30%;
    background-color: rgb(42, 42, 42);
    bottom: 100px;
    left:4%;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

#tickets{
    position: absolute;
    height: 54%;
    width: 30%;
    background-color: rgb(42, 42, 42);
    bottom: 100px;
    left:35%;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

#closeststops{
    position: absolute;
    height: 54%;
    width: 30%;
    background-color: rgb(42, 42, 42);
    bottom: 100px;
    right:4%;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}

h3{
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
}
h5{
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
}
li{
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
}
#headerLogo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}

#menu{
    position: absolute;
    width: 1200px;
    height: 75px;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

p, .menuText{

    
    color: #FFF;
    font-family: sans-serif;
    
}

#bolig, #menu, .menuText{
    position: absolute;
    left: 75px;
}

#kart, #menu, .menuText{
    position: absolute;
    left: 210px;
}

#transport, #menu, .menuText{
    position: absolute;
    left: 300px;
}

#eventer, #menu, .menuText{
    position: absolute;
    right: 125px;
}

#helse, #menu, .menuText{
    position: absolute;
    right: 260px;
}
#mat, #menu, .menuText{
    position: absolute;
    right: 395px;
}

#facebook{
    position: absolute;
    top: 15px;
    right: 50px;
    height: 25px;
    width: 25px;
}

#instagram{
    position: absolute;
    top: 15px;
    right: 105px;
    height: 25px;
    width: 25px;
}

#twitter{
    position: absolute;
    top: 11px;
    right: 150px;
    height: 32px;
    width: 32px;
}
