html, body{
    height: 1550px;
    margin: auto;
<<<<<<< HEAD
    background-image: url(../bilder/busSign2.png);
    background-color: white;
=======
    background-image: url(../bilder/busSign.jpg);
>>>>>>> origin/master
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/* Container */
#container{
    position: relative;
    height: 100%;
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}
/* Header */
#header{
    position: relative;
    height: 200px;  
    width: 100%;
    background-color: rgb(42, 42, 42);
    top: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}
/* Footer */
#footer{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px #1f1f1f;
}
/* Westerdalslogoen */
#headerLogo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}

#menu{
    position: absolute;
    width: 1200px;
    height: 50px;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

p, .menuText{
    color: #FFF;
    font-family: sans-serif;
}

#bolig{
    position: absolute;
    left: 125px;
}

#kart{
    position: absolute;
    left: 250px;
}

#transport{
    position: absolute;
    left: 375px;
}

#eventer{
    position: absolute;
    right: 125px;
}

#helse{
    position: absolute;
    right: 260px;
}
#mat{
    position: absolute;
    right: 375px;
}

#facebook{
    position: absolute;
    top: 15px;
    right: 50px;
    height: 25px;
    width: 25px;
}

#instagram{
    position: absolute;
    top: 15px;
    right: 105px;
    height: 25px;
    width: 25px;
}

#twitter{
    position: absolute;
    top: 11px;
    right: 150px;
    height: 32px;
    width: 32px;
}


/* En div som lager en horisontal hvit linje med tekst i rett under menyen*/
#welcomeWrapper{
    position: relative;
    width: 100%;
    height: 150px;
    top: 30px;
    border-bottom: white solid 1px;
}

/* Undertekst til velkommenText */
#welcomeInfo{
    top: 50px;
    font-size: 1.3em;
}

/* Utseende på overskrifter */
h1{
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

h2{ 
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

h3{
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
}

/* Klasse for hvordan titlene skal se ut */
.title{
    position: absolute;
    top: 45px;
    left: 50px;
}

/* Klasse for hvor bildene/ikonene skal plasseres */
.pics{
    position: absolute;
    width: 350px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Klasse - Utseende på infoboks*/
.contentBox{
    position: absolute;
    top: 300px;
    width: 350px;
    background-color: rgba(0,0,0,0.8);
   -webkit-box-shadow: box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3);
    border-radius: 7px;
    height: 1050px;
    
}

/* Klasse for utseende på innholdstekst */
.contentText{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    text-align: left;
    margin-left: 50px;
    width: 260px;
    top: 280px; 
}

/* ID på klasseboksene(contentBox) /m separat plassering */
#ruterBox{
    position: absolute;
    left: 0;    
}

#billettOgStraffBox{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#holdeplassBox{
    position: absolute;
    right: 0;
}

/* Tekstdiver */
#ruterBillett{
    position: absolute;
    text-align: left;
    margin-left: 50px;
    width: 260px;
    top: 280px; 
}

#brukApp{
    position: absolute;
    text-align: left;
    margin-left: 50px;
    width: 260px;
    top: 450px; 
}

#reiseKort{
    position: absolute;
    text-align: left;
    margin-left: 50px;
    width: 260px;
    top: 650px; 
}

#list{
    position: absolute;
    margin-left: -40px;
    font-family: sans-serif;
    color: white;
    font-size: 1em;
    top: 45px;
}

#billettKontroll{
        position: absolute;
    text-align: left;
    margin-left: 50px;
    width: 260px;
    top: 750px; 
}

/* Hvordan linkene skal oppføre seg */
a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: underline;
}